.vertical-container-item {
    position: relative;
    display: flex;
    /* background: url("../record.jpg") no-repeat center; */
    height: 200px;
    margin: 1rem;
    background-size: cover;
}
.title{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.show-recipe{
  display: block;
}

.float-container {
    padding: 20px;
    display: table-row;

}
.float-child {
    display: table-cell;
    overflow-wrap: break-word;
    height: 100%;
    width: 50%;
    float: left;
}

#refresh{
  margin-top: 1rem;

}
